@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@keyframes floating {
  0% {
    padding-top: 80px;
  }
  50% {
    padding-top: 110px;
  }
  100% {
    padding-top: 80px;
  }
}

:root {
  --white: #efeee7;
  --outline: #d0859c;
  /* --black: #aa3e65; */
  --black: #7f2d4b;
  --none: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  background-color: #313131;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 516px;
  width: 400px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.content {
  border: 4px solid var(--outline);
  border-radius: 3.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-image: url(images/background.png);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: 7px;
}

nav span {
  font-size: 40px;
  color: #b36c82;
}
nav div button {
  margin: 5px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 4px;
  background-size: contain;
}

button {
  transition: 0.2s;
}

button:hover {
  scale: 1.1;
}

.title {
  color: var(--black);
  position: relative;
}

.title1 {
  font-size: 40px;
  padding-bottom: 50px;
  padding-top: 90px;
  animation: floating 2.5s ease-in-out infinite;
}

.title2 {
  padding: 9px;
  padding-top: 10px;
  font-size: 26px;
  width: 95%;
}

.title3 {
  font-size: 26px;
  padding: 25px;
}

.step {
  display: none;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.common {
  font-size: 30px;
  border: 4px solid var(--black);
  border-radius: 3px;
  background-color: var(--white);
  color: var(--black);
  width: 150px;
  aspect-ratio: 87 / 23;
}

#step1 button {
  position: absolute;
  top: 240px;
  margin-top: 10px;
}

#step2 button {
  background-color: var(--none);
  border: 0;
  font-size: 19px;
  color: var(--black);
}

#step2 button:hover {
  scale: 1;
}

#step2 button img {
  height: 140px;
  padding-bottom: 10px;
  transition: 0.2s;
}

#step2 button:hover img {
  scale: 1.1;
}

#step3 img {
  height: 190px;
}

.options {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

#time {
  font-size: 120px;
  font-weight: 900;
  color: var(--black);
}

#step4 div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#step4 img {
  height: 220px;
  padding-bottom: 40px;
}

.title4 {
  font-size: 35px;
  padding: 20px;
  margin-top: 15px;
}

@media (max-width: 600px) {
}
